<template name="user-details">
	<div class="row">
		<div class="col-xs-12 col-md-12 picture-row">
			<a href="#" class="thumbnail profile-picture">
				<img src="/images/denny.jpg" />
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 user-info">
			<div class="user-info"><h4>Denny Scott</h4></div>
			<div class="user-info other-info">Web Developer/Designer</div>
			<div class="user-info other-info">@moonliteDev</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12 bio">
			<div class="user-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
		</div>
	</div>
	<div class="col-md-6 background-video" >

	</div>
</template>