<template name="userDetails">
	<div class="row">
		<div class="col-xs-12 col-md-12 picture-row">
			<a href="#" class="thumbnail profile-picture">
				<img src="{{image}}" />
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 user-info">
			<div class="user-info"><h4>{{Name}}</h4></div>
			<div class="user-info other-info">{{role}}</div>
			<div class="user-info other-info">{{specialties}}</div>
			<div class="user-info other-info"><a href="{{twitter}}">Twitter</a></div>
			<div class="user-info other-info"><a href="{{linkedIn}}">Linked In</a></div>
			<div class="user-info other-info"><a href="{{github}}">Github Account</a></div>
			<div class="user-info other-info"><a href="{{resume}}">Resume</a></div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12 bio">
			<div class="user-info">{{bio}}</div>
		</div>
	</div>
	<div class="col-md-6 background-video" >

	</div>
</template>