<template name="footer">
	<div id="footer" class="bottom-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 navbar-brand">
					<a href="#fakelink" class="fui-home">Moonlite</a>
				</div>

				<div class="col-xs-4">
					Terms and Privacy
				</div>

				<div class="col-md-2 float-right">
					<ul class="bottom-icons">
						<li><a href="#fakelink" class="fui-facebook"></a></li>
						<li><a href="#fakelink" class="fui-twitter"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>