<template name="navbar">
	<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="{{pathFor 'home'}}">Moonlite</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{pathFor 'home'}}">Our Work</a></li>
      <li><a href="#fakelink">Who are We?</a></li>
      <li><a href="#fakelink">Contact Us</a></li>
      <li><a href="{{pathFor 'blogIndex'}}">Blog</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if loggedIn}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{email}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathFor 'profile'}}">Profile</a></li>
            <li><a href="#" id="sign-out">Sign Out</a></li>
          </ul>
        </li>
      {{else}}
      <li><a href="{{pathFor 'entrySignIn'}}">Sign In</a></li>
      <li><a href="{{pathFor 'entrySignUp'}}">Sign Up</a></li>
      {{/if}}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
</template>