<template name="home">
	<div class="jumbotron">
		<h1 class="brand-name">Moonlite Studios</h1>
	</div>
	<nav class="col-xs-12 align-center who-list">
		<a class="what selected">
			Work
		</a>
		<a class="who">
			Team
		</a>
	</nav>
	<div id="work-content">
		<div class="square-content">
			<div class="container">
				Content
			</div>
		</div>
		<div class="square-content">
			<div class="container">
				Content
			</div>
		</div>
		<div class="square-content">
			<div class="container">
				Content
			</div>
		</div>
		<div class="square-content">
			<div class="container">
				Content
			</div>
		</div>
		<div class="square-content" id="test">
			<div class="container">
				Content
			</div>
		</div>
	</div>
</template>