.align-center{
	float:none;
	margin: auto 0;
}

.center{
	text-align: center;
}

.who-list{
	overflow:hidden;
	font-size: 18px;
	line-height: 24px;
	list-style: none;
	margin:0 auto;
	margin-top:-70px;
	text-align:center;
	padding:0;
	border:0;
	vertical-align: baseline;
}

.who-list a{
	width: 168px;
	height: 72px;
	text-align: center;
	line-height: 72px;
	display: inline-block;
	cursor: pointer;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f9f9f9), color-stop(100%, #e7e7e7)),#f9f9f9;
	background: -webkit-linear-gradient(top, #ffffff,#f9f9f9 50%,#e7e7e7 100%),#f9f9f9;
	background: -moz-linear-gradient(top, #ffffff,#f9f9f9 50%,#e7e7e7 100%),#f9f9f9;
	background: -o-linear-gradient(top, #ffffff,#f9f9f9 50%,#e7e7e7 100%),#f9f9f9;
	background: -ms-linear-gradient(top, #ffffff,#f9f9f9 50%,#e7e7e7 100%),#f9f9f9;
	background: linear-gradient(top, #ffffff,#f9f9f9 50%,#e7e7e7 100%),#f9f9f9;
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #acacac;
	text-shadow: rgba(255,255,255,0.7) 0 1px 0,rgba(172,172,172,0.1) 0 -1px 0;
	color: #797979;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px 0;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 3px 0;
	box-shadow: rgba(0,0,0,0.2) 0 1px 3px 0;
	color: #ccc;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-family: "PT Sans Narrow","Trebuchet MS",Helvetica,sans-serif;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
}

.who-list a:hover {
	color: #131313;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f9f9f9), color-stop(100%, #c6c6c6)),#f9f9f9;
	background: -webkit-linear-gradient(top, #ffffff,#f9f9f9 50%,#c6c6c6 100%),#f9f9f9;
	background: -moz-linear-gradient(top, #ffffff,#f9f9f9 50%,#c6c6c6 100%),#f9f9f9;
	background: -o-linear-gradient(top, #ffffff,#f9f9f9 50%,#c6c6c6 100%),#f9f9f9;
	background: -ms-linear-gradient(top, #ffffff,#f9f9f9 50%,#c6c6c6 100%),#f9f9f9;
	background: linear-gradient(top, #ffffff,#f9f9f9 50%,#c6c6c6 100%),#f9f9f9;
}

.who-list a.selected{
	color: #333;
	cursor:default;
	background: url(images/textures/button_gray.png) repeat,#ebebf1;
	border-right: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #a2a2a2;
	text-shadow: rgba(255,255,255,0.7) 0 1px 0,rgba(128,128,128,0.1) 0 -1px 0;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 5px 0 inset;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 2px 5px 0 inset;
	box-shadow: rgba(0,0,0,0.2) 0 2px 5px 0 inset;
}

.jumbotron{
	margin-top:0px;
}

#work-content {
	margin-bottom:100px;
}

#game-content{
	display:none;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
}

#web-content{
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
}