<template name="about">
	<div id="about-page">
		<div class="section" id="section1">
			<i class="fui-arrow-left" id="about-left"></i>
			<i class="fui-arrow-right" id="about-right"></i>
			<div class="person col-xs-12">
				Some info
			</div>
		</div>

		<div class="section" id="section2">
			<div class="person col-xs-12" >
				Some info
			</div>
		</div>

		<div class="section" id="section3">
			<div class="person col-xs-12">
				Some info
			</div>
		</div>
	</div>
<div class="clear"></div>

</template>