.person {
	float:left;
	overflow-x:hidden;
	overflow-y:hidden;
}

#about-content{
	opacity:0;
	width:10000px;
	margin-top:40px;
}

.section {
	width:1020px;
	float:left;
	margin-bottom:70px;
}

.clear{
	clear:both;
}

html,body{
	height:auto!important;
}

.directionButton {
	font-size:64px;
	z-index:10;
}

#about-left{
	position:absolute;
	top:40%;
	left:20px;
	cursor:pointer;
	transition: left .2s;
	-webkit-transition: left .2s; /* Safari */
}

#about-left:hover{
	left:10px;
}

#about-right{
	position:absolute;
	top:40%;
	right:20px;
	cursor:pointer;
	transition: right .2s;
	-webkit-transition: right .2s; /* Safari */
}

#about-right:hover{
	right:10px;
}

.background-video {
	position:absolute;
	left:0px;
	top:0px;
	z-index:0;
	min-width:100%;
}

video{
	min-width:100%;
	opacity:.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
	z-index:0;
}

.profile-picture{
	margin:0 auto;
	max-width:300px;
	max-height:250px;
	overflow-y:hidden;
}

.profile-picture img{
	overflow-y:hidden;
}

.picture-row {
	text-align:center;
	margin:0 auto;
	margin-top:40px;
}

.user-info {
	margin:0 auto;
	text-align:center;
}

.bio{
	margin-top:40px;
	padding-left:40px;
	padding-right:40px;
}

.user-info.other-info {
	font-size:.75em;
}

.links{
	margin-top:160px;
	text-align: center;
	
}

.user-link{
	font-size: 3em;
	line-height: 1;
}

.user-link:hover {
	font-size:3.5em;
	line-height: 0;
}

.deadlink{
	font-size:3em;
	line-height:1;
}

.shrink{
	font-size:16px;
}