.person {
	background-color:#fafafa;
	margin-top: 20px;
	border-radius:20px;
	padding: 20px;
	float:left;
	min-height:470px;
}

#about-page{
	width:6000px;
	margin-top:40px;
}

.section {
	width:1020px;
	float:left;
	margin-bottom:0px;
	margin-left:30px;
	margin-right:30px;
}

.clear{
	clear:both;
}

#section3{
	padding-right:30px;
}

html,body{
	height:auto!important;
}

.directionButton {
	font-size:64px;
}

#about-left{
	position:absolute;
	top:40%;
	left:20px;
	cursor:pointer;
	transition: left .2s;
	-webkit-transition: left .2s; /* Safari */
}

#about-left:hover{
	left:10px;
}

#about-right{
	position:absolute;
	top:40%;
	right:20px;
	cursor:pointer;
	transition: right .2s;
	-webkit-transition: right .2s; /* Safari */
}

#about-right:hover{
	right:10px;
}