<template name="contact">
	<div id="contact-content">
		<h1 class="center">Contact Moonlite</h1>
		<div class="col-xs-12 center">
			<span class="tagline">Some sort of tagline about Contact</span>

		</div>
		<div class="row container contact-container">
		<ul class = "contact-types col-md-12">
			<li class="contact-method col-md-offset-1 col-md-2">
				<a href="mailto:dennyscott301@gmail.com">
					<i class="circle">
						<i class="fa fa-envelope"></i>
						<i class="pulse circle"> </i>
					</i>
					<h4 class="secondary">Email</h4>
				</a>
				
			</li>

			<li class="contact-method col-md-2">
					<i class="circle">
						<i class="fa fa-phone"></i>
					</i>
					<h4 class="secondary">Phone</h4>
			</li>

			<li class="contact-method col-md-2">
				<a href="mailto:dennyscott301@gmail.com">
					<i class="circle">
						<i class="fa fa-twitter"></i>
						<i class="pulse circle"> </i>
					</i>
					<h4 class="secondary">Twitter</h4>
				</a>
				
			</li>

			<li class="contact-method col-md-2">
				<a href="mailto:dennyscott301@gmail.com">
					<i class="circle">
						<i class="fa fa-calendar"></i>
						<i class="pulse circle"> </i>
					</i>
					<h4 class="secondary">Schedule</h4>
				</a>
				
			</li>

			<li class="contact-method col-md-2">
				<a href="mailto:dennyscott301@gmail.com">
					<i class="circle">
						<i class="fa fa-users"></i>
						<i class="pulse circle"> </i>
					</i>
					<h4 class="secondary">Individual</h4>
				</a>
				
			</li>
		</ul>
	</div>

		<div class="clear"></div>
	</div>
</template>