.project{
	height:400px;
	border-radius:25px;
	margin:auto 0;
	margin-top:20px;
	margin-bottom:10px;
	background: rgba(240,240,240,.5);
}

.right-section{
	text-align:center;
}

.left-section{
	color:#000;
	height:400px;
	padding-left:50px;
}

.visit-project{
	margin-top:50px;
	font-size: 1em;
}

.left-section p{
	color:#888	;
}

.project-image {
	min-height:90%;
	margin-top:20px;
	max-width:350px;
}

#slogan {
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-description{
	font-weight:200;
}