<template name="project">
	<div class="project-wrapper container">
		<div class="project">
			<div class="left-section col-xs-6">
				<h3>Title of Project</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<a class="visit-project	">Visit Project  <span class="glyphicon glyphicon-arrow-right"></span></a>
			</div>

			<div class="right-section col-xs-6">
				<img class="project-image" src="/images/SVG/earth.svg">
			</div>
		</div>
	</div>
</template>