<template name="profile">
	<div id="profile-content">
		<div class="container">
			<h1 class="center createHeader">Profile</h1>
			<form id="create-profile">
				<div class="row">
					<div class="col-md-offset-3 col-md-3">
						<div class="form-group">
							<label for="firstName">First name</label>
							<input type="text" id="firstName" name="firstName" value="{{firstName}}" class="form-control">
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="lastName">Last name</label><input type="text" id="lastName" name="lastName" value="{{lastName}}" class="form-control">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-3 col-md-6">

						<div class="form-group">
							<label for="address">Profile Picture</label>
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="input-group">
									<div class="form-control uneditable-input" data-trigger="fileinput">
										<span class="fui-clip fileinput-exists"></span>
										<span class="fileinput-filename"></span>
									</div>
									<span class="input-group-btn btn-file">
										<span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
										<span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>
										<input type="file" id="profilepicture" name="profilepicture" value="" class="">
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			<hr>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="form-group">
						<label for="role">Role</label><input type="text" id="role" name="role" value="{{role}}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="form-group">
						<label for="specialties">Specialties</label><input type="text" id="specialties" name="specialties" value="{{specialties}}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class=" col-md-offset-3 col-md-6">
					<div class="form-group">
					<label for="biography">Biography</label>
					<textarea id="biography" name="biography" class="form-control">{{bio}}</textarea>
				</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-3 col-md-6">

					<div class="form-group">
							<label for="address">Resume</label>
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="input-group">
									<div class="form-control uneditable-input" data-trigger="fileinput">
										<span class="fui-clip fileinput-exists"></span>
										<span class="fileinput-filename"></span>
									</div>
									<span class="input-group-btn btn-file">
										<span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
										<span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>
										<input type="file" id="resume" name="resume" value="" class="">
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>
									</span>
								</div>
							</div>
						</div>
				</div>
			</div>
				<div class="row">
				<div class="col-md-offset-3 col-md-6">

					<div class="form-group">
							<label for="address">CV</label>
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="input-group">
									<div class="form-control uneditable-input" data-trigger="fileinput">
										<span class="fui-clip fileinput-exists"></span>
										<span class="fileinput-filename"></span>
									</div>
									<span class="input-group-btn btn-file">
										<span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
										<span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>
										<input type="file" id="cv" name="cv" value="" class="">
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>
									</span>
								</div>
							</div>
						</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="form-group">
						<label for="twitter">Twitter</label><input type="text" id="twitter" name="twitter" value="{{twitter}}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="form-group">
						<label for="github">Github</label><input type="text" id="github" name="github" value="{{github}}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="form-group">
						<label for="portfolio">Portfolio</label><input type="text" id="portfolio" name="portfolio" value="" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="form-group">
						<label for="linkedin">Linkedin</label><input type="text" id="linkedin" name="linkedin" value="{{linkedIn}}" class="form-control">
					</div>
				</div>
			</div>
			<div class="row center">
				<input type="submit" value = "Update Profile" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>
</template>